/* primary #FFFFFF; */
/* secondary #969696; */
/* third #D0D0D0; */
/* accent #1F1F1F;; */
/* bg-primary #0F0F0F */

:root {
  --primary-text: #ffffff;
  --secondary-text: #969696;
  --third-text: #d0d0d0;
  --bg-primary: #0f0f0f;
  --bg-secondary: #000000;
  --accent: #1f1f1f;
  --product: #191b1c;
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-text);
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
img {
  display: block;
  margin: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-contacts {
  font-size: 12px;
  color: var(--secondary-text);
  background-color: var(--bg-primary);
}
.contacts-list {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 14px;
}
.contacts-list .item {
  display: inline-flex;
  flex-direction: row;
}
.vertical-line {
  margin-right: 14px;
  margin-left: 14px;
}
.link-log {
  display: flex;
  align-items: center;

  fill: var(--secondary-text);
}
.link-log:hover,
.link-log:focus {
  color: var(--primary-text);
  fill: var(--primary-text);
}
.icon-log {
  margin-right: 10px;
}
.icone-phone {
  margin-right: 15px;
}
.header-menu {
  background-color: var(--bg-secondary);
}
.nav-list {
  display: flex;
  margin-right: 60px;
}

.nav-list .item {
  display: inline-block;

  line-height: 1.3;
  color: var(--secondary-text);
  text-transform: uppercase;
}

.nav-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  display: inline-block;

  color: var(--primary-text);
  font-weight: 700;
  font-size: 36px;
}
.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button {
  display: inline-block;
}
.button-primary {
  padding: 31px 20px;
}
.button-primary:hover,
.button-primary:focus {
  color: var(--primary-text);
  background-color: var(--accent);
}

.icon-user {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--primary-text);
}
.user-links .item:not(:last-child) {
  margin-right: 43px;
}
.user-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1920px;
  height: 810px;

  background-image: url(/images/Rectangle3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  text-transform: uppercase;
  text-align: center;
  background-color: var(--bg-secondary);
}

.hero-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 80px;
  width: 320px;
  height: 320px;
  border: 4px solid var(--primary-text);
}
.content-box {
  margin: 0;
  width: 730px;
}
.hero .title {
  display: inline-block;
  margin-bottom: 7px;
  margin-top: 0;
  font-size: 64px;
  font-weight: 700;

  border-bottom: 2px solid var(--primary-text);
}
.hero .text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 1.3;
}
.our-collection {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;

  line-height: 1.333;
  font-family: "Playfair Display", serif;
  background-color: var(--bg-secondary);
}
.section .title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 100px;
}
.collection-box > .item {
  display: flex;
}
.list-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 93px;
  padding-top: 93px;
  padding-left: 70px;
  padding-right: 90px;

  max-width: 1040px;
}
.new-collection {
  display: flex;
}
.product-pic {
  background-color: var(-);
}
.new-collection .item:not(:last-child) {
  margin-right: 50px;
}

.product-title {
  margin-bottom: 10px;

  text-align: left;
  font-size: 18px;
  font-weight: 400;
}
.product-text {
  margin: 0;

  font-weight: 700;
  font-size: 16px;
  color: var(--third-text);
}
.collection-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 325px;
  margin-bottom: 25px;

  background-color: var(--product);
}
.img-box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 100px;
  max-width: 880px;
  width: 100%;
  min-height: 730px;
  height: 100%;

  background-image: url(../images/bg-img-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-box .title {
  margin-bottom: 60px;
}
.btn {
  display: inline-block;
  padding: 12px 28px;
  border: 1px solid var(--primary-text);

  font-family: PT Sans, sans-serif;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.img-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-box-2 {
  max-width: 880px;
  width: 100%;
  min-height: 600px;
  height: 100%;
  background-image: url("../images/bg-img-2.jpg");
}
.list-box-2 {
  padding: 100px 284px;
  text-align: center;
}
.collection-content-2 {
  max-width: 471px;
  width: 100%;
}
.collection-content-2 .title {
  margin-bottom: 80px;
}
.collection-content-2 .text {
  font-family: PT Sans, sans-serif;
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 1.5;
}
.new-products {
  padding-top: 120px;
  padding-bottom: 150px;
  background-color: var(--bg-secondary);
}
.new-products .title {
  margin-bottom: 121px;
}
.products-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products-list .item:not(:nth-child(4n)) {
  margin-right: 23px;
}
.products-list .item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 40px;
}

.brands {
  background-color: var(--bg-primary);
}
.clients-list {
  display: flex;
}
.clients-list .item {
  width: calc((100% - 3 * 30px) / 4);
}
.clients-list .item.item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  display: inline-block;
  background-color: var(--bg-primary);
  fill: var(--primary-text);
}

/* Footer */
.main-footer {
  padding-top: 80px;
  background-image: url("../images/footer-img.jpg");
}
.footer-list {
  display: flex;
  justify-content: space-between;
}
.footer-list > .item {
  width: calc((100% - 2 * 30px) / 3);
}
.footer-list .title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.footer-list .text {
  margin: 0;
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
}
.btn-list .item:not(:nth-child(3n)) {
  margin-right: 20px;
}
.btn-list .item:last-child {
  margin-right: 0;
}
.btn-list .item:nth-child(-n + 3) {
  margin-bottom: 20px;
}
.btn-secondary {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--bg-primary);
  color: var(--third-text);
}
.subscribe-btn {
  padding: 10px 20px;
  letter-spacing: 0.05em;
  color: var(--primary-text);
}
